
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-5">

            <div class="loginMain col-12">

                <div class="loginMain__title">
                    <h4>RECUPERAR CONTRASEÑA</h4>
                </div>
        
                <div class="loginMain__formContainer col-12 mb-2">
                    <form class="loginMain__form">
                        <div>
                            <input class="form-control" placeholder="Usuario" type="email" id="inputPassword5"  [formControl]="email" >

                            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                Porfavor ingrese un correo valido
                            </mat-error>
                            <mat-error *ngIf="email.hasError('required') && email.touched ">
                                <small>El correo es <strong style="color: red">requerido</strong></small>
                            </mat-error>
                        </div>
                      </form>
                </div>
        
            
                <a href="" class="loginMain__signIn">Recuperar contraseña</a>
                <p><a routerLink="/security/login">Cancelar</a></p>
            
            </div>
        </div>


        <div class="col-sm-12 col-md-7 d-none d-md-block">
            <div class="loginDetail">
                <div class="loginDetail__logo">
                    <img src="http://143.198.176.153/assets/company/login.png" alt="">
                </div>
        
                <p class="text-white-50 fs-4">Fuse helps developers to build organized and well coded dashboards full of beautiful and rich modules. Join us and start building your application today.</p>
            </div>  
        </div>

    </div>
</div>




